# Introduction to Programming Language: Loan Calculation

**Authors:** Magomed Bairamkulov and Mateus De Souza

## Objective:
The purpose of this notebook is to provide an educational introduction to programming language, specifically focusing on bridging the functionality gap observed in the usage of Excel for loan calculations in financial institutions. To achieve this goal, we will utilize mock data and implement financial metrics for loan calculation from scratch.

## Key Features:
- Introduction to programming concepts relevant to financial calculations.
- Step-by-step implementation of loan calculation algorithms.
- Utilization of mock data for demonstration purposes.

## Table of Contents:
1. Introduction to Loan Calculations
2. Python Basics for Financial Calculations
3. Implementation of Loan Calculation Algorithms
4. Testing and Validation with Mock Data
5. Conclusion and Next Steps

## About the Authors:
Magamed Sharipov and Mateus De Souza are passionate programmers with a combined expertise in finance and software development. They collaborated on this notebook as part of a pair programming initiative aimed at creating educational content for programming enthusiasts.

**Note:** This notebook serves as a beginner-friendly guide to programming concepts in the context of financial calculations. No prior programming experience is required, making it accessible to learners from diverse backgrounds.

### Requirements
- Install Pandas and MatplotLib
- Instead of using numpy-finance, lets develop our financial functions

### Libraries

In [2]:
import pandas as pd
import matplotlib as plt
import numpy as np

### Load Data

In [15]:
data = pd.read_csv('portfolio_data.csv')

#SK_ID_CURR is our unique ID
#AMT_INCOME_TOTAL is the loan balance - the money that the bank is giving to the custumer
#coupon is the percentage of interest in which the bank is applying to the loan. This data has a problem in its format - need to be clean before processing.
#AMT_ANNUITY - months to pay the loan.
#bullet - in the case it is true, we should avoid the calculus using the coupon. The loan is "interested free"

     SK_ID_CURR AMT_INCOME_TOTAL coupon  AMT_ANNUITY  Bullet
0        100366          765,000   300%           22       0
1        100380          630,000   900%           26       0
2        100454          607,500  1000%           61       0
3        100059          540,000   200%          140       1
4        100070          540,000   600%          125       1
..          ...              ...    ...          ...     ...
993      101146           38,700   400%           96       0
994      100015           38,419   900%           10       1
995      100743           38,250   900%           71       1
996      100326           36,000   300%          116       0
997      100572           31,500   600%           85       0

[998 rows x 5 columns]

# Data Cleaning

In [16]:
data['coupon'] = data['coupon'].str.replace('%','').astype(float).div(10000)
data['AMT_INCOME_TOTAL'] = data['AMT_INCOME_TOTAL'].str.replace(',','').astype(float)

### Data Integrity Test

In [29]:
if (data['SK_ID_CURR'].count() == data['SK_ID_CURR'].nunique()):
    print("Data Integrity = ID's are unique")

Data Integrity = ID's are unique

### Loan Calculator Function

In [ ]:
def loan_calculator(loan_balance: float, interest_rate: float, months_dui: int,unique_id: str, interest_flag: int):
    
    return Dataframe